body, h1, h2, h3, p, ul, ol, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.5; 
}

body div h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal; 
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    text-decoration:underline;
    text-decoration-color: antiquewhite;
    word-spacing: 2px; 
}


header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    object-fit: cover; 
}

body div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: brightness(90%); 
}


section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
}


section:hover {
    transform: scale(1.02); 
}

section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-style: italic; 
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
}

section video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    outline: none; 
}


section ul {
    list-style: square;
    margin-left: 20px;
    padding-left: 10px; 
}


section li {
    margin-bottom: 5px;
    line-height: 1.6; 
}


section strong {
    color: #ff6600;
    text-transform: uppercase; 
}

section ol {
    list-style: decimal;
    margin-left: 20px;
    padding-left: 10px; 
}

section s {
    text-decoration: line-through;
    opacity: 0.7; 
}

section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto; 
}

section table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: right; 
}

section table th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    vertical-align: top; 
}

section table td {
    padding: 10px;
    border: 1px solid #ddd;
    resize: horizontal; 
}

section h3 {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
    letter-spacing: 1px; 
}

nav button {
    background-color: #333;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold; 
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    section {
        padding: 10px;
    }


    section h2 {
        font-size: 1.3em;
    }

    nav button {
        font-size: 1.3em;
    }

    body {
        font-size:0.8em; 
    }

    body div h1, h2, h3 {
        font-size:1.2em; 
    }
    
    header {
        padding: 10px; 
    }
    
    section h3 {
        font-size: 1.1em; 
    }
}